@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




/*HEADER*/

header{
    width: 100%;
    margin-bottom: 65px;
    color: white;
    text-align: center;
}

nav{
    background-color: #222A2F;
    padding: 10px 22px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div#logo{
    background-image: url("../images/hdchostlogo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 75px;
    height: 65px;
}

nav ul{
    margin: 0;
    list-style: none;
    text-transform: uppercase;

    display: flex;
    gap: 5px;
    align-items: center;
}

nav ul li{
    padding: 10px 12px;
    border-radius: 10px;
}

nav ul li:hover{
    background-color: #394147;
}

nav ul li:last-child{
    display: inline;
    background-color: #2DC769;
    padding: 10px 15px;
}

nav ul li:last-child:hover{
    background-color: #37f47f;
}

nav ul a{
    text-decoration: none;
    color: white;
}

div#titulo{
    background-image: url("../images/mainbanner.png");
    background-repeat: no-repeat;
    background-size: center center;
    background-size: cover;
    background-attachment: fixed;

    height: 520px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);

    padding: 200px 0;
}

div#titulo h1, div#titulo p{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.677);
}

div#titulo h1{
    font-size: 3.8em;
}

div#titulo p{
    font-weight: 500;
    font-size: 17px;
}




/*MAIN*/

main{
    /*width: 90%;*/
    margin: auto;
}

main p{
    color: #5e5e5f;
}


/*QUALIDADES*/
article#qualidades{
    text-align: center;
    margin: 80px 50px;
    
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    gap: 40px;
}

article#qualidades section{
    flex: 1 1 300px;
}

article#qualidades span.material-icons{
    font-size: 85px;
    margin-bottom: 20px;
}

article#qualidades section#seguranca span.material-icons{
    color: #2DC769;
}

article#qualidades section#velocidade span.material-icons{
    color: #EE3E26;
}

article#qualidades section#suporte span.material-icons{
    color: #EB8F27;
}

article#qualidades h3{
    margin-bottom: 20px;
    font-size: 1.3em;
}

article#qualidades p{
    margin-bottom: 15px;
    font-size: 18px;
}


/*PLANOS*/
article#planos{
    margin: 100px 50px;
}

article#planos h2, article#planos p{
    text-align: center;
    margin-bottom: 20px;
}

article#planos h2{
    font-size: 1.8em;
}

article#planos p{
    margin-bottom: 40px;
    font-size: 18px;
}

article#planos div#bloco-planos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

article#planos div#bloco-planos section{
    flex: 1 1 250px;
}

article#planos div#bloco-planos section p{
    margin-bottom: 0;
    padding: 54px 0;
    
    width: 125px;
    height: 130px;

    font-size: 18px;
    text-align: center;
    color: white;

    background-color: #2DC769;
    border-radius: 100px;

    margin: auto;
    margin-bottom: -40px;

    position: relative;
    z-index: 2;
}

article#planos div#bloco-planos section h4{
    background-color: #202A33;
    
    padding: 50px 0 15px 0;

    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

article#planos div#bloco-planos section ul{
    background-color: #E6E8EA;
    
    padding: 0 10px;
    
    text-align: center;
    list-style: none;
}

article#planos div#bloco-planos section li{
     padding: 18px;
     border-bottom: 1px solid white;
}

article#planos div#bloco-planos section li:nth-child(5){
    border-bottom: none;
}

article#planos div#bloco-planos section a{
    display: block;

    background-color: #2DC769;
    padding: 20px;
    
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

article#planos div#bloco-planos section:nth-child(3) p, article#planos div#bloco-planos section:nth-child(3) a{
    background-color: #F35D57;
}


/*BUSCAR DOMÍNIOS*/
article#busca-dominio{
    background-color: #33444C;
    width: 100%;
    height: 500px;
    padding: 75px 60px;

    text-align: center;
    color: white;
}

article#busca-dominio h2{
    font-size: 2.7em;
    line-height: 45px;
    
    margin-bottom: 15px;
}

article#busca-dominio p{
    font-size: 22px;
    color: white;
}

article#busca-dominio form{
    margin-top: 40px;
}

article#busca-dominio form input[type="text"]{
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    
    border: 1px solid #33444C;
    border-radius: 5px;
}

article#busca-dominio form input::placeholder{
    font-size: 18px;
}

article#busca-dominio form input[type="submit"]{
    width: 100%;
    padding: 20px;
    background-color: #2DC769;
    
    border: 1px solid #2DC769;
    border-radius: 5px;
    
    color: white;
    font-size: 18px;
}

article#busca-dominio form input[type="submit"]:hover{
    background-color: #37f47f;
    cursor: pointer;
}


/*ENTRAR EM CONTATO*/
article#contato{
    margin: 70px;
    text-align: center;
}

article#contato h2{
    font-size: 2em;
    margin-bottom: 20px;
}

article#contato p{
    font-size: 18px;
    margin-bottom: 20px;
}


article#contato form{
    margin: auto;
}

article#contato input{
    width: 350px;
}

article#contato input{
    padding: 15px;
    margin-bottom: 10px;

    border-radius: 5px;
    border: 1px solid gray;
}

article#contato input::placeholder{
    font-size: 16px;
}

article#contato textarea{
    width: 348px;
    height: 200px;

    margin-bottom: 8px;
    padding: 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

article#contato form input[type="submit"]{
    background-color: #2DC769;
    border: 1px solid #2DC769;

    font-size: 16px;
    color: white;
}

article#contato form input[type="submit"]:hover{
    background-color: #37f47f;
    cursor: pointer;
}




/*FOOTER*/
footer{
    text-align: center;
    font-size: 18px;
    padding: 20px;
}
