@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
/*  width: 100vw;
    height: 100vh;*/
}



/*HEADER*/

header{
    width: 100%;
    margin-bottom: 65px;
    color: white;
    text-align: center;
}

nav{
    background-color: #222A2F;
    padding: 10px 22px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div#logo{
    background-image: url("../images/hdchostlogo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 75px;
    height: 65px;
}

nav ul{
    margin: 0;
    list-style: none;
    text-transform: uppercase;

    display: flex;
    gap: 15px;
    align-items: center;
}

nav ul li:last-child{
    background-color: #2DC769;
    border-radius: 10px;
    padding: 10px 15px;
}

nav ul a{
    text-decoration: none;
    color: white;
}

div#titulo{
    background-image: url("../images/mainbanner.png");
    background-repeat: no-repeat;
    background-size: center center;
    background-size: cover;
    background-attachment: fixed;

    height: 520px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);

    padding: 200px 0;
}



/*MAIN*/

main{
    width: 90%;
}



